/*
 * Windows resources for Pageant.
 */

#include "rcstuff.h"

#define APPNAME "Pageant"
#define APPDESC "PuTTY SSH 인증 에이전트"

200 ICON "pageant.ico"
201 ICON "pageants.ico"

210 DIALOG DISCARDABLE 0, 0, 140, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant: 암호어구 입력"
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT "키 암호어구 입력", 100, 10, 6, 120, 8
    CTEXT "", 101, 10, 16, 120, 8
    EDITTEXT 102, 10, 26, 120, 12, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON "확인(&K)", IDOK, 20, 42, 40, 14
    PUSHBUTTON "취소(&C)", IDCANCEL, 80, 42, 40, 14
END

211 DIALOG DISCARDABLE 0, 0, 330, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant 키 목록"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX 100, 10, 10, 310, 155,
        LBS_EXTENDEDSEL | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "키 추가(&A)", 101, 75, 162, 60, 14
    PUSHBUTTON "키 삭제(&R)", 102, 195, 162, 60, 14
    PUSHBUTTON "도움말(&H)", 103, 10, 182, 50, 14
    DEFPUSHBUTTON "닫기(&C)", IDOK, 270, 182, 50, 14
END

/* Accelerators used: cl */
213 DIALOG DISCARDABLE 140, 40, 214, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant 정보"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "닫기(&C)", IDOK, 160, 72, 48, 14
    PUSHBUTTON "라이센스(&L)", 101, 6, 72, 70, 14
    EDITTEXT 1000, 10, 6, 194, 64, ES_READONLY | ES_MULTILINE | ES_CENTER, WS_EX_STATICEDGE
END

/* No accelerators used */
214 DIALOG DISCARDABLE 50, 50, 326, 265
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY 라이센스"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "확인", IDOK, 148, 242, 44, 14

    EDITTEXT 1000, 10, 10, 306, 222, ES_READONLY | ES_MULTILINE | ES_LEFT, WS_EX_STATICEDGE
END

#include "version.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "pageant.mft"
#endif /* NO_MANIFESTS */
