// Microsoft Visual C++ generated resource script.
//
#include "rcstuff.h"

#define APPNAME "iPuTTY"
#ifndef SUPPORT_CYGTERM
#define APPDESC "SSH, Telnet and Rlogin client"
#else
#define APPDESC "SSH, Telnet, Cygterm and Rlogin client"
#endif

#include "win_res.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
