// Microsoft Visual C++ generated resource script.
//
#include "rcstuff.h"

#define APPNAME "iPuTTY"
#define APPDESC "SSH, Telnet, Cygterm, Rlogin 클라이언트 프로그램"

#include "win_res.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
