/*
 * Windows resources for PuTTYgen.
 */

#include "rcstuff.h"

#define APPNAME "PuTTYgen"
#define APPDESC "PuTTY SSH key 샹성 유틸리티"

200 ICON "puttygen.ico"

201 DIALOG DISCARDABLE 0, 0, 318, 270
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Key 생성기"
FONT 8, "MS Shell Dlg"
BEGIN
END

210 DIALOG DISCARDABLE 0, 0, 140, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTYgen: 패스어구 입력"
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT "Enter passphrase for key", 100, 10, 6, 120, 8
    CTEXT "", 101, 10, 16, 120, 8
    EDITTEXT 102, 10, 26, 120, 12, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON "확인(&K)", IDOK, 20, 42, 40, 14
    PUSHBUTTON "취소(&C)", IDCANCEL, 80, 42, 40, 14
END

/* Accelerators used: cl */
213 DIALOG DISCARDABLE 140, 40, 214, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTYgen 정보"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "닫기(&C)", IDOK, 160, 72, 48, 14
    PUSHBUTTON "라이센스 보기(&L)", 101, 6, 72, 70, 14
    EDITTEXT 1000, 10, 6, 194, 64, ES_READONLY | ES_MULTILINE | ES_CENTER, WS_EX_STATICEDGE^
END

/* No accelerators used */
214 DIALOG DISCARDABLE 50, 50, 326, 231
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY 라이센스"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "확인", IDOK, 148, 211, 44, 14

    EDITTEXT 1000, 10, 10, 306, 192, ES_READONLY | ES_MULTILINE | ES_LEFT, WS_EX_STATICEDGE
END

#include "version.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "puttygen.mft"
#endif /* NO_MANIFESTS */
